.delete-item {
    cursor:pointer;
}
.delete-item a:hover {
    text-decoration:none;
}

.margin-10-top {
    margin-top:10px;
}
.margin-20-top {
    margin-top:20px;
}
.margin-30-top {
    margin-top:30px;
}
/*====================*/
.margin-10-left {
    margin-top:10px;
}
.margin-20-left {
    margin-top:20px;
}
.margin-30-left {
    margin-top:30px;
}
/*====================*/
.margin-10-right {
    margin-top:10px;
}
.margin-20-right {
    margin-top:20px;
}
.margin-30-right {
    margin-top:30px;
}